<ul class="nav nav-tabs budget-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="income-tab" data-bs-toggle="tab" data-bs-target="#income-panel" type="button" role="tab">
            Income
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="needs-tab" data-bs-toggle="tab" data-bs-target="#needs-panel" type="button" role="tab">
            Needs
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="wants-tab" data-bs-toggle="tab" data-bs-target="#wants-panel" type="button" role="tab">
            Wants
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="debts-tab" data-bs-toggle="tab" data-bs-target="#debts-panel" type="button" role="tab">
            Debts
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="savings-tab" data-bs-toggle="tab" data-bs-target="#savings-panel" type="button" role="tab">
            Savings
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="investing-tab" data-bs-toggle="tab" data-bs-target="#investing-panel" type="button" role="tab">
            Investing
        </button>
    </li>
</ul>

<div class="tab-content budget-tab-content">
    <div class="tab-pane fade show active" id="income-panel" role="tabpanel">
        {% include 'partials/budget_table.html' with budgets=budget_data.Income type="Income" %}
    </div>
    <div class="tab-pane fade" id="needs-panel" role="tabpanel">
        {% include 'partials/budget_table.html' with budgets=budget_data.Need type="Need" %}
    </div>
    <div class="tab-pane fade" id="wants-panel" role="tabpanel">
        {% include 'partials/budget_table.html' with budgets=budget_data.Want type="Want" %}
    </div>
    <div class="tab-pane fade" id="debts-panel" role="tabpanel">
        {% include 'partials/budget_table.html' with budgets=budget_data.Debts type="Debts" %}
    </div>
    <div class="tab-pane fade" id="savings-panel" role="tabpanel">
        {% include 'partials/budget_table.html' with budgets=budget_data.Savings type="Savings" %}
    </div>
    <div class="tab-pane fade" id="investing-panel" role="tabpanel">
        {% include 'partials/budget_table.html' with budgets=budget_data.Investing type="Investing" %}
    </div>
</div>
